@model SecondTry.Models.loggedInUser

<div class="panel panel-default">
    <div class="panel-body">
        <p>You are Logged in</p>
        <p style="color: red;">No DOM-rapport available for reading.</p>
        <p style="font-size: 12px">Error: Rolf has not implemented this yet, feel free to e-mail and let him know. For now you get the old one.</p>
        <img src="~/content/domrapport.png"/>
    </div>
</div>